[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/ovm-contracts"]
	path = lib/ovm-contracts
	url = https://github.com/webisopen/ovm-contracts
